@page
@model VSDProjekt.Pages.Zasuvky.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.zasuvka[0].Zariadenie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zasuvka[0].UserID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.zasuvka) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Zariadenie.zariadenieID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.zasuvkaID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.zasuvkaID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.zasuvkaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
